body{
  margin: 0;
  background: url(/images/Netflix.jpg);
}
/* **************************Home********************************* */
nav{
  background-color: black;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  height: 100%;
  box-shadow: 0 4px 8px rgba(109, 15, 15, 0.1);
}

a{
  text-decoration: none;
}

main{
  position: relative;
}

label{
  color: gainsboro;
  font-size: 18px;
}

.nav__logo{
  width: 15%;
  height: 15%;
  padding: 1rem;
}

.nav__navLogo{
  width: 100%;
  height: 100%;
}

.navOptions{
  display: flex;
  width: 60%;
  list-style: none;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
}

.navOptions li a{
color: gainsboro;
}

.navOptions li a:hover{
  color: #C49838;
}

.home {
  background: url(/images/home.jpg);
  width: 30%;
  background-repeat: no-repeat;
  margin: 3rem auto;
  height: 41rem;
}

.home__view {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: rgba(0,0,0,0.69);
  opacity: 0.8;
  width: 97%;
  height: 98%;
}

.home__view div{
  width: 70%;
  color: white;
}

.home__view div h3{
  font-size: 26px;
}

.home__view div p{
  font-size: 22px;
}

.navSearch{
  padding: 0.6rem;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
}

.searchBtn{
  padding: 0.5rem;
  width: 6rem;
  border-radius: 0.3rem;
  background-color: #C49838;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: #111;
  border: none;
}

.searchBtn:hover{
  color: gainsboro;
  background-color:rgb(184, 17, 184);
}

.magoImg{
  height: 30rem;
  position: absolute;
  bottom: 4rem;
  left: 20rem;
}

.yugiImg{
  height: 30rem;
  position: absolute;
  bottom: 0rem;
  right: 16rem;
}

.celloImg{
  height: 24rem;
  position: absolute;
  bottom: 12rem;
  left: 55rem;
}

/* ***********************************Collection************************************************** */
.collectSection{
  display: flex;
  flex-direction: column;
}


.collectCard{
  display: flex;
  padding: 2rem 0rem;
  border-bottom: 3px solid gainsboro;
  align-items: center;
  justify-content: space-evenly;
}

.collectCard__image__container{
  width: 200px;
  height: 300px;
}

.collectCard__image{
  width: 100%;
  height: 100%;
}

.cardInfo{
  width: 50%;
  text-align: left;
  color: gainsboro;
  font-size: 18px;
}

.display--inline{
  display: flex;
  align-items: center; 
}

.display--inline p {
  margin-left: 1rem;
}

.border--line{
  border-bottom: 3px solid #C49838;
}

.border--line--ifoDesc{
  border-bottom: 3px solid #C49838;
  display: block;
}

.collectCard__Control{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 2rem 0rem 0rem;
}

.collectSection--control{
  display: flex;
  padding: 2rem 1rem;
  justify-content: space-evenly;
  margin: 2rem 0rem 4rem;
}
/* *************************************add card********************************************** */

.cardForm{
  display: flex;
  opacity: 0.8;
  height: 88%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem 0rem 3rem;
  box-sizing: border-box;
}

.cardFormImg{
  position: absolute;
  bottom: -3rem;
  height: 40rem;
  left: 54rem;
}

.cardFormImg--pegasus{
  position: absolute;
  height: 40rem;
  bottom: -3rem;
}

.cardFormImg--magao{
  position: absolute;
  height: 40rem;
  bottom: 0rem;
  left: 8rem;
}

.cardFormImg--yugimoto{
  position: absolute;
  height: 40rem;
  bottom: -3rem;
  right: 0rem;
}