<section class="home">
  <div class="home__view">
    <div>
      <h3>Hello welcome !!!!</h3>
      <p>
        Register your cards and experience the true power of the heart of the cards.
        Just click on add card and let the exciting adventure begin. Enjoy the journey. 
      </p>
    </div>
  </div>
    <img class="celloImg" src="/images/cello.png" alt="">
    <img class="magoImg" src="/images/mago.png" alt="">
    <img class="yugiImg" src="/images/yugi.png" alt="">
</section>