<div class="nav__logo">
  <img class="nav__navLogo" src="/images/yugiohlogo.jpg" alt="">
</div>
<ul class="navOptions">
  <li><a href="/">Home</a></li>
  <li><a href="/cards">Colecction</a></li>
  <li><a href="/cards/add">Add cards</a></li>
  <li>
    <form action="/cards/search" method="GET">
      <input class="navSearch" type="search" name="term" placeholder="Search" aria-label="Search">
      <button class="searchBtn" type="submit">Search</button>
    </form>
  </li>
</ul>
<div class="nav__logo">
  <img class="nav__navLogo" src="/images/artmilLogo.png" alt="">
</div>